<div style="font-family: sans-serif">
  <h2 style="color: #555">Verfiy your email address</h2>
  <p style="color: gray">
    Click on the link in the below to activate your account
    <a href="<%= link %>"> Verfiy Your Account </a>
  </p>
</div>
